.Vocabulary {
    overflow: scroll;
    height: 100vh;
    max-height: 100vh;
    padding: 30px;

    .type_vocabulary,
    .voca {
        display: flex;
        justify-content: space-around;
    }

    .type_vocabulary {
        .form {
            width: 50%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .change_btn {
                background-color: var(--element);
                color: var(--abs);
                padding: 10px 20px;
                font-size: 16px;
                border: none;
                border-radius: 10px;
                margin-top: 10px;
                transition: .3s;

                &:hover {
                    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
                }
            }

            .title {
                text-align: center;
                margin-bottom: 20px;
            }

            form {
                display: flex;
                align-items: center;
                flex-direction: column;

                input,
                textarea {
                    font-family: 'Poppins', sans-serif;
                    padding: 10px 20px;
                    font-size: 14px;
                    margin: 5px;
                }

                textarea {
                    resize: vertical;
                }

                button {
                    background-color: var(--element);
                    color: var(--abs);
                    padding: 10px 20px;
                    font-size: 16px;
                    border: none;
                    border-radius: 10px;
                    margin-top: 10px;
                    transition: .3s;

                    &:hover {
                        box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
    }

    .voca {
        .table {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            table {
                margin-top: 30px;
                border-collapse: collapse;

                thead {
                    background-color: #eee;
                }

                th {
                    border: 1px solid #aaa;
                    text-align: center;
                    padding: 5px 10px;
                    padding: 20px;
                    td {
                        text-align: center;
                    }
                }

                tr {
                    td {
                        text-align: center;
                        border: 1px solid #aaa;
                        padding: 5px 10px;
                        padding: 10px;

                        .edit,
                        .delete {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            height: 100%;
                            overflow: hidden !important;
                            transition: .3s;

                            svg {
                                width: 20px;
                                height: 20px;
                            }

                            &:hover {
                                transform: scale(1.2);
                            }
                        }
                    }

                    .description {
                        padding: 10px;
                        text-align: start;
                        max-height: 150px !important;
                        height: 100px !important;
                        overflow: scroll;
                    }
                }
            }
        }
    }

    @media (max-width: 1280px) {

        .type_vocabulary,
        .voca {
            display: flex;
            justify-content: space-around;
        }
    }

    @media (max-width: 550px) {
        .voca {
            .table {
                table {
                    margin-top: 30px;
                    width: 100%;

                    thead {
                        background-color: #eee;

                        th {
                            font-size: 14px;
                            &.none_mobile {
                                display: none !important;
                            }
                        }
                    }

                    tr {
                        td {
                            font-size: 14px;
                            &.none_mobile {
                                display: none !important;
                            }
                        }

                        .description {
                            padding: 10px;
                            text-align: start;
                            max-height: 150px !important;
                            height: 100px !important;
                            overflow: scroll;
                        }
                    }
                }
            }
        }
    }
}