.User{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .start_btn{
        display: block;
        color: var(--abs);
        background-color: var(--element);
        padding: 10px 20px;
        border-radius: 10px;
    }
}