.Layout {
    position: relative;
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .page {
        max-height: calc(100vh - 80px - 50px);
        height: calc(100vh - 80px);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}