.Footer{
    padding: 20px 0;
    .right,
    .left{
        a{
            color: var(--element);
        }
    }
    @media (max-width: 520px) {
        width: 100%;
        padding: 30px 20px;
        display: flex;
        justify-content: space-between;
        
    }
}