.Navbar {
    width: 100vw;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(51, 51, 51, 0.5);
    background: transparent;
    padding: 20px 0;
    backdrop-filter: blur(10px);
    .logo {
        a {
            color: #000;

            span {
                color: var(--element);
            }
        }
    }

    .menu {
        .menu_df {
            li {
                cursor: pointer;
                margin: 0 30px;
                a {
                    width: 100%;
                    color: #000;
                    position: relative;
                    transition: .3s;
                    &:hover{
                        color: #000;
                    }
                    &.active{
                        color: var(--element);
                    }
                }
            }

            .sign_parent {
                margin: 0 10px;
                background-color: var(--element);
                display: flex;
                align-items: center;
                border-radius: 20px;
                justify-content: center;
                padding: 0;
                transition: .3s;

                &:hover {
                    box-shadow: inset 0 0 15px rgba(51, 51, 51, 0.4);
                }

                .sign {
                    display: block;
                    width: 100%;
                    height: 100%;
                    color: var(--abs);
                    padding: 10px 30px;
                    transition: .3s;
                    &.active{
                        background-color: var(--abs);
                        color: var(--element);
                    }
                }
            }

        }
    }
}